@model IEnumerable<Product>

    <table class="table table-light">
        <thead class="table table-dark">
            <tr>
                <th>Image</th>
                 <th>Name</th>
                  <th>Product Type</th>
                   <th>Size</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Status</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
