@model Product

<form asp-action="Create" method="POST">
    <label asp-for="Image">Product Image</label>
    <input asp-for="Image"/><br />

    <label asp-for="Name">Product Name</label>
    <input asp-for="Name"/><br />

    <label asp-for="Price">Price</label>
    <input asp-for="Price"/><br />


    <label asp-for="Stock">Stock</label>
    <input asp-for="Stock"/><br />

    <label asp-for="Status">Status</label>
    <input asp-for="Status"/><br />

   

</form>